* {
    box-sizing: border-box;
}

body {
    background: #AFEEEE;
    overflow: hidden;
}

.bg2 {
    background-color: #98FB98;
    position: absolute;
    left: -25%;
    bottom: -25%;
    height: 50%;
    width: 100%;
    z-index: -5;
    border-radius: 50%;
}

.bg3 {
    background-color: #98FB98;
    position: absolute;
    right: -60%;
    bottom: -25%;
    height: 50%;
    width: 100%;
    z-index: -4;
    border-radius: 50%;
}

.house {
    background: #DEB887;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 150px;
    bottom: 125px;
}

.house2 {
    position: relative;
    background: #DEB887;
    height: 133px;
    width: 170px;
    z-index: -1;
    right: -200px;
    bottom: -67px;
}

.roof {
    background: black;
    position: relative;
    height: 10px;
    width: 420px;
    z-index: 2;
    left: -25px;
    bottom: 75px;
}

.smallroof1 {
    position: relative;
    z-index: 2;
    bottom: 107px;
    width: 0;
    height: 0;
    border-width: 0 125px 50px 125px;
    border-color: transparent transparent #000000 transparent;
    border-style: solid;
    display: inline-block;
}

.window1 {
    position: relative;
    display: flex;
    left: 75px;
    height: 50px;
    width: 50px;
    z-index: 2;
    background: #FFF8DC;
    bottom: 69%;
    border-radius: 50%
}

.window2 {
    position: relative;
    height: 50px;
    width: 100px;
    background: #FFF8DC;
    left: 30px;
    top: 32.5px;
    z-index: 2;
}

.door {
    position: relative;
    height: 100px;
    width: 50px;
    background: black;
    z-index: 2;
    top: 0px;
    left: 75px;
}

