* {
    box-sizing: border-box;
}

body {
    background: PowderBlue;
    color: white;
    margin: 5 0 10;
    overflow-x: hidden;
}
.content p {
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    font size: 30px;
    color: SlateGrey;
    background: lightblue;
}

.titles {
    background: SeaShell;
    color: SlateGrey;
    width: 100vw;
    height: 20vh;
    text-align: row;
}

.titles ul {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style-type: none;
    padding: 10px;
}

h2 {
    color: navy;
}
