* {
    box-sizing: border-box;
}

body {
    background: navy;
    color: white;
}
.content p {
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    font size: 20px;
    background: black;
}
