* {
    box-sizing: border-box;
}

body {
    background: navy;
    color: white;
}
.hero.p {
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
