
* {
    box-sizing: border-box;
}

body {
    background: greenyellow;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

.search {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: blue;
    position: relative;
}


.search .btn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    background-color: white;
    border: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: transform 1s ease;
    }

.search .input {
    background-color: white;
    border: 0;
    font-size: 18px:
    height: 50px;
    width: 50px;
    padding: 15px;
    transition: width 1s ease;
}

.search .input:focus {
        outline: none;
    }
.search.active .imput {
        width: 200px;
    }

.search.active .btn {
        transform: translateX(198px);
    }
