* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.sixseven {
    height: 40vh;
    border-radius: 50px;
    background-color: black;
    cursor: pointer;
    margin: 10px;
    position: relative;
    display: flex;
    width: 45vw;
}

.sixseven h3 {
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}

.active {
    background-color: white;

}
